
<div class="row">
    <div class="col text-left">
        <div class="row justify-content-start">
            <div class='alert alert-light' id="msg">{{ question }}</div>
            {% if disambiguation %}
            <form class="form" action="wikidata_dialog/" class="form" method="POST" id="movie_select">
                <div class="row">
                    <div class="col-auto">
                        <select class="form-control" id="post_selected_movie" required>
                            <option value="" disabled selected hidden>Select movie...</option>
                            {% for id, movie in disambiguation.items %}
                                <option value="{{ id }}">{{ movie.title }} ({{ movie.year }})</option>
                            {% endfor %}
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" id="submit_movie_select">Choose</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col text-right">
        <div class="row justify-content-end">
            <div class='alert alert-primary' id="msg">{{ response }}</div>
        </div>
    </div>
</div>
